@import "WeatherApp.scss";
@import "SearchBox.scss";
@import "WeatherBox.scss";
@import "WeatherDetails.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
:root {
  --bg-mainColor: #06283d;
  --bg-weatherColor: #fff;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-mainColor);
}
